<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>chatsjs</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
  <script src="/static/script.js/"></script>




</head>

<body class="container-fluid">
  <center class="row">
    <h1>implementation of <b>chartJS</b> using <b>django</b></h1>
  </center>
  <hr />
  <div class="row">
    <div class="col-md-4" >
      <canvas id="myChartline" width="600" height="400"></canvas>

    </div>
       <div class="col-md-3" >
      <canvas id="mychartbar"height="150" width="280" ></canvas>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

      <input type="int" id='y'>
          <button id="f">filter</button>
                 <button onclick="r()">reset</button>

    </div>
  <div>
        <div class="row">


    </div>
  </div>


</body>
<script>
    function r(){
    window.location.reload();
    }
</script>
<script >



</script>

</html>

</body>
